<%- include("partials/specialheader") %>
   
    <div class="containerform">
        <form class="loginform" action="/clameconfirm" method="post">
            <h3>Claim bounty</h3>
            <label for="bountypass">Enter bounty password:</label>
            <input type="text" placeholder="Exaple: 5562" name="bountypass" required>
            <div id="btncontainer">
                <button style="color: black;">Confirm</button>
                <a class="link" href="/">Cancel</a>
            </div>
        </form>
    </div>


