<%- include("partials/specialheader") %>
   
    <div class="containerform">
        <form class="loginform" action="/loginuser" method="post">
            <h3>Login Here</h3>
            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username" required>
        
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" required>
        
            <div id="btncontainer">
                <button style="color: black;">Log In</button>
                <a class="link" href="/register">Register</a>
                <a class="link" href="/">Home</a>
            </div>
        </form>
    </div>


